h1, h2, h4 {
    text-align: center;
}

#topleft {
    background-color: blue;
    border: 5px solid black;
    width: 22%;
    height: 30%;
    float: left;
}

#topright {
    background-color: red;
    width: 75%;
    float: right;
    border: 5px solid black;
}

#botleft {
    background-color: yellow;
  width: 22%;
  float: left;
  border: 5px solid black;
}

#botright {
    background-color: green;
  float: right;
  border: 5px solid black;
  width: 75%;
  text-align: center;
}


<!-- SPECIFIC CHANGES TO DIVS -->


#topleft img {
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}