#header {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}

#nav {
  line-height:30px;
  background-color:#eeeeee;
  height:500px;
  width:100px;
  float:left;
  padding:5px;
  text-align: center;
}

#section {
  font-family: Roboto
  float: left;
  padding:10px;
}

#footer {
  font-family: Roboto;
  background-color: black;
  color: white;
  clear:both;
  text-align:center;
  height: 5em;
  width: 100%;
}

code {
  border: black solid 1px;
  padding: 1.5px;
  background: #99FFFF;
}

a {
  color: inherit;
}
